<!--Details for individual burial records in the BurialSummary.cshtml (i.e. field notes, photographs, measurements, and any
details captured about the mummy or items included in its burial.)-->

@{
    ViewData["Title"] = "BurialRecord";
}

<h1>BurialRecord</h1>

