<!--Paginated list of all burials with a brief summary of the info. User has ability to filter results by certain criteria and 
select specific records for more details-->

@{
    ViewData["Title"] = "BurialSummary";
}

<h1>BurialSummary</h1>

