<!--The homepage-->

@{
    ViewData["Title"] = "Home Page";
}

<!--Header-->
<div>
    <h2 class="text-center">Project Fag El-Gamous</h2>
</div>
<br/>

<!--Background video-->
<video autoplay muted loop class="container-fluid">
    <source src="~/img/pyramid_video.mp4" type="video/mp4">
</video>