@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h2 class="text-center">Welcome to BYU's Fag El-Gamous project</h2>
</div>
<video autoplay muted loop class="container-fluid">
    <source src="~/img/pyramid_video.mp4" type="video/mp4">
</video>