<!--Record added confirmation-->
@{
    ViewData["Title"] = "AddConfirmation";
}

@*@model Mission6_pthoma24.Models.MovieEntry*@

<h2 class="text-center">Burial record has been added. Thank you</h2>

