<!--Page that allows users to enter osteology and/or burial info to predict (based on trained model) the sex of the burial-->

@{
    ViewData["Title"] = "SupervisedAnalysis";
}

<h1>SupervisedAnalysis</h1>

