
@{
    ViewData["Title"] = "AddUserConfirmation";
}

@model ByuEgyptSite.Models.UserViewModel

<h2 class="text-center">@Model.UserName has been added. Thank you</h2>
<br />

<a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Return to Users</a>

