@model ByuEgyptSite.Models.UserViewModel

@{
    ViewData["Title"] = Model.Id == null ? "AddUser" : "Edit";
}

<div class="container p-3">
    <div class="d-flex justify-content-center">
        <form method="post">
            @if (Model.Id == null)
            {
                <input type="hidden" asp-for="Id" value="1" />
            }
            else
            {
                <input type="hidden" asp-for="Id" value="@Model.Id" />
            }

            <label asp-for="UserName">UserName:</label>
            <input asp-for="UserName" /><br />

            <label asp-for="Email">Email:</label>
            <input asp-for="Email" /><br />

            <div>
                <input type="checkbox" name="Roles" value="Administrator" @(Model.Roles != null && Model.Roles.Contains("Administrator") ? "checked='checked'" : "")>
                <label>Administrator</label>
            </div>
            <div>
                <input type="checkbox" name="Roles" value="Researcher" @(Model.Roles != null && Model.Roles.Contains("Researcher") ? "checked='checked'" : "")>
                <label>Researcher</label>
            </div>

            <div class="d-flex justify-content-center"><button type="submit">Save Changes</button></div>

            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>
