<!--Used for both adding and editing users-->
@model ByuEgyptSite.Models.UserViewModel

@{
    ViewData["Title"] = Model.Id == null ? "AddUser" : "Edit";
}

<!--Render the header conditionally-->
@if (Model.Id == null)
{
    <h2 class="text-center">Add a new user</h2><br/>
}

else
{
    <h2 class="text-center">Edit User</h2>
    <br />
}

<div class="container p-3">
    <div class="d-flex justify-content-center">

        <!--Form for adding/editing-->
        <form method="post">

            @if (!ViewData.ModelState.IsValid)
            {
                <!--Validation summary-->
                <div asp-validation-summary="All"></div>
            }

            <!--The confirmation modal-->
            <div class="modal fade" id="confirm-add-modal" tabindex="-1" aria-labelledby="confirm-add-modal-title" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirm-add-modal-title">Confirm Record</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to make this change?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input class="btn btn-warning" type="submit" value="Save" />
                        </div>
                    </div>
                </div>
            </div>

            <!--Input list-->
            @if (Model.Id == null)
            {
                <input type="hidden" asp-for="Id" value="1" />
            }
            else
            {
                <input type="hidden" asp-for="Id" value="@Model.Id" />
            }

            <div class="form-group">
                <label asp-for="UserName">UserName:</label>
                <input asp-for="UserName" />
            </div><br />

            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" />
            </div><br />


            <div class="form-group">
                <input type="checkbox" name="Roles" value="Administrator" @(Model.Roles != null && Model.Roles.Contains("Administrator") ? "checked='checked'" : "")>
                <label>Administrator</label>
            </div>
            <div class="form-group">
                <input type="checkbox" name="Roles" value="Researcher" @(Model.Roles != null && Model.Roles.Contains("Researcher") ? "checked='checked'" : "")>
                <label>Researcher</label>
            </div><br/>

            <!--Launches modal-->
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirm-add-modal" type="button">Save Changes</button>

        </form>
    </div>
</div>
