<!--Page that allows users to enter osteology and/or burial info to predict (based on trained model) the sex of the burial-->
@{
    ViewData["Title"] = "SupervisedAnalysis";
}
<h1>Predict Head Direction</h1>
@{
}
@model DataToChange

<form method="post" asp-controller="Researcher" asp-action="AlterData">
    <div class="form-group">
        <label asp-for="depth">Depth:</label><input asp-for="depth" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="length">Length:</label>
        <input asp-for="length" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="area">Area:</label>
        <select asp-for="area" class="form-control">
            <option value="NE">NE</option>
            <option value="NW">NW</option>
            <option value="SE">SE</option>
            <option value="SW">SW</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="wrapping">Wrapping:</label>
        <select asp-for="wrapping" class="form-control">
            <option value="B">Bones Only (B)</option>
            <option value="H">Partial Wrapping (H)</option>
            <option value="W">Full Wrapping (W)</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="samplescollected">Samples Collected:</label>
        <select asp-for="samplescollected" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ageatdeath">Age at Death:</label>
        <select asp-for="ageatdeath" class="form-control">
            <option value="A">Adult</option>
            <option value="C">Child</option>
            <option value="I">Infant</option>
            <option value="N">Newborn</option>
        </select>
    </div>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Enter" />
    </div>

    @if(ViewBag.Prediction is not null)
    {
        dynamic prediction = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.Prediction);
        string predictedValue = prediction.PredictedValue;
        string headDirection = "";

        if(predictedValue == "W")
        {
            headDirection = "West";
        }

        if (predictedValue == "E")
        {
            headDirection = "East";
        }

        <h4>Based on your inputs, we predict that the "head direction" for this burial is: <h2>@headDirection</h2></h4>
    }


</form>