<!--Page that allows users to enter osteology and/or burial info to predict (based on trained model) the sex of the burial-->
@{
    ViewData["Title"] = "SupervisedAnalysis";
}
<h1>Predict Head Direction</h1>
@{
}
@model DataToChange

<form method="post" asp-controller="Researcher" asp-action="AlterData">
    <div class="form-group">
        <label asp-for="depth">depth:</label><input asp-for="depth" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="length">length:</label>
        <input asp-for="length" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="area">area</label>
        <input asp-for="area" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="wrapping">wrapping:</label>
        <input asp-for="wrapping" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="samplescollected">samplescollected:</label>
        <input asp-for="samplescollected" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ageatdeath">ageatdeath:</label>
        <input asp-for="ageatdeath" class="form-control" />
    </div>

    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Enter" />
    </div>

    @if(ViewBag.Prediction is not null)
    {
        dynamic prediction = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.Prediction);
        string predictedValue = prediction.PredictedValue;
        string headDirection = "";

        if(predictedValue == "W")
        {
            headDirection = "West";
        }

        if (predictedValue == "E")
        {
            headDirection = "East";
        }

        <h4>Based on your inputs, we predict that the "head direction" for this burial is: <h2>@headDirection</h2></h4>
    }


</form>