<!--Page that allows users to enter osteology and/or burial info to predict (based on trained model) the head direction of the burial-->
@{
    ViewData["Title"] = "Predictor";
}
<h1>Predict Head Direction</h1>
@{
}
@model DataToChange

<!--Receive and Display Prediction-->
@if (ViewBag.Prediction is not null)
{
    dynamic prediction = Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.Prediction);
    string predictedValue = prediction.PredictedValue;
    string headDirection = "";

    if (predictedValue == "W")
    {
        headDirection = "West";
    }

    if (predictedValue == "E")
    {
        headDirection = "East";
    }
    <!--Display mummy icon facing in the direction of the prediction-->
    <br /><br />
    <p>Based on your inputs, we predict that the "head direction" for this burial would be: </p>
    <h4>@headDirection</h4>

    @if (headDirection == "West")
    {
        <img src="~/img/mummy_west.png" alt="Mummy facing West" height="auto" width="35px">
    }
    else if (headDirection == "East")
    {
        <img src="~/img/mummy_east.png" alt="Mummy facing East" height="auto" width="35px">
    }
    <br /><br />
}

<!--Form for user to input features that will use the trained model to predict a value-->
<form method="post" asp-controller="Researcher" asp-action="AlterData">
<div class="container">
    <div class="form-group">
        <label asp-for="depth">Depth:</label><input asp-for="depth" class="form-control" placeholder="e.g. 1.5" />
    </div>
    <div class="form-group">
        <label asp-for="length">Length:</label>
        <input asp-for="length" class="form-control" placeholder="e.g. 0.85" />
    </div>

    <div class="form-group">
        <label asp-for="area">Area:</label>
        <select asp-for="area" class="form-control">
            <option value="NE">NE</option>
            <option value="NW">NW</option>
            <option value="SE">SE</option>
            <option value="SW">SW</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="wrapping">Wrapping:</label>
        <select asp-for="wrapping" class="form-control">
            <option value="B">Bones Only (B)</option>
            <option value="H">Partial Wrapping (H)</option>
            <option value="W">Full Wrapping (W)</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="samplescollected">Samples Collected:</label>
        <select asp-for="samplescollected" class="form-control">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ageatdeath">Age at Death:</label>
        <select asp-for="ageatdeath" class="form-control">
            <option value="A">Adult</option>
            <option value="C">Child</option>
            <option value="I">Infant</option>
            <option value="N">Newborn</option>
        </select>
            <br />
    </div>

        <div class="d-flex justify-content-center text-warning text-decoration-none">
        <input class="btn btn-warning" type="submit" value="  Enter  " />
    </div>
</div>



</form>