<!--Displays results of unsuperivsed analysis(ses) for client with visualizations-->

@{
    ViewData["Title"] = "UnsupervisedAnalysis";
}

<h1>Discoveries</h1>


<div class="container">
    <h1 class="text-center my-4">Unsupervised Analysis</h1>

<div class="row">
    <div class="col-md-4">
        <img src="~/img/scrnsht1.jpg" class="img-fluid">
    </div>
    <div class="col-md-8">
        <p class="lead">
            The clustering in this scatterplot didn't explicitly reveal any new groups, but allowed us to recognize something interesting about head direction over time (in relation to depth). We noticed that the most shallow head direction of 'East' was 0.68, while the head direction of 'West'. had over 20 records that had a depth of less than 0.68. This indicates that there was a point in time that mummies stopped being buried with a head direction of East.
        </p>
    </div>
</div>

<hr class="my-4">

<div class="row">
    <div class="col-md-4">
        <img src="~/img/scrnsht2.png" class="img-fluid">
    </div>
    <div class="col-md-8">
        <p class="lead">
            Above shows mummy depth and length with a third dimension showing if the mummy is an adult or a child. The data are also clustered and colored according to the status of child vs. adult where all blue points are adults and yellow points are children. The blue dots clustered closer to the top means they are longer than the children. The fact that the blue dots go closer to the top of the graph shows that adults were buried at a greater depth.
        </p>
        <p class="lead">
            In simple terms, we came to the conclusion that 1) most of the older mummies were adults and 2) in general, adults have greater lengths than children. In the more distant past, it is possible that kids were buried somewhere besides the cemetery or in a different way. It is also possible that they were not wrapped and that as a result, all burial evidence has since disintegrated.
        </p>
    </div>
</div>
</div>
